.wrapper {
  text-align: center;
}

/* for the productdiv  */

.mainProductdiv {

overflow: auto;
max-height: 300px;
border: 1px solid red;
padding: 15px;
}

.productHolder {
  display: flex; 
  flex-direction: column;
  border: 1px solid red;
  max-width: 250px;
  /* overflow: auto;  */
  /* width: 400px; */
  /* height: 200px;  */
}

.imageHolder{
  border: 1px solid red;
  /* width: 350px; */
  /* height: 200px;  */
}
.productInfo {
  border: 1px solid red;
  /* overflow: auto; */
  /* height: 180px; */
}

.UserInput {
  border: 1px solid purple;
}

.reviews {
  border: 1px solid teal ;
}