.wrapper {
  text-align: center;
}

/* for the productdiv  */

.mainProductdiv {

overflow: auto;
max-height: 300px;
border: 1px solid red;
padding: 15px;
}

.productHolder {
  display: flex; 
  flex-direction: column;
  border: 1px solid red;
  max-width: 250px;
  /* overflow: auto;  */
  /* width: 400px; */
  /* height: 200px;  */
}

image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.imageHolder{
  border: 1px solid red;
  width: 250px; 
  height: 400px; 

}
.productInfo {
  border: 1px solid red;
  overflow: auto; 
  /* height: 180px; */
}

.UserInput {
  border: 1px solid purple;
}

.reviewContainer {
  border: 1px solid teal;
  padding: 10px;
}

.reviews {
  border: 1px solid teal;
}
.review {
  border: 1px solid teal;
  display: flex;
  padding: 5px;
  margin: 0;
}
.userReviewInput {
  border: 1px solid teal;
}

.reviewButtons {
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 800px;
  border: 1px solid teal;
 
}

.reviewRender {
  border: 1px solid teal;
  overflow: auto;

}

.editable {
  border: 1px solid teal;
}